*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
}
/* header and navigation title */
.header{
    background-color: aquamarine;
}

nav{
    display: flex;
    justify-content: space-between;
    margin:50px 20px;
    align-items: center;
}
nav h2{
    font-size: 40px;
}
nav ul{
    display: flex;
}
nav a{
    text-decoration: none;
}
nav li{
    list-style:none;
    margin-left: 50px;
}


/*  banner section */

.banner-text{
    text-align: center;
}
.banner-text h2{
    font-size:55px;
    margin:20px 0;
}
.btn{
    background-color: orangered;
    font-size: 20px;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    margin: 20px 0;
}
/*  features section */
.features{
    display: flex;
    margin: 50px auto;
    align-items: center;
}
.features>div{
    flex: 1;
}
.features-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 50%;
    padding:75px;
}

.features-text{
    width: 50%;
    margin-left: 100px;
}
.features-text h3{
    font-size: 40px;
}
.add-color{
    color: chartreuse;
}
/* ---------
fact section 
-----------*/
.fact{
    padding: 50px  0;
}
.fact-title h3{
    font-size: 36px;
    text-align: left;
    padding: 15px 5px;
}
.fact-title p{
    font-size: 14px;
    text-align: left;
    padding: 10px 5px;
}
.fact-info>div{
    border: 1px solid blueviolet;
    border-radius: 5px;
    text-align: center;
    padding: 20px 5px;
}
.fact-info{
    display:grid;
    gap: 50px;
    padding: 30px 10px;
    grid-template-columns: repeat(4, 1fr);
   
}
/* ---------
sponsors-section
---------- */
.sponsors{
    margin: 0 auto;
    padding: 50px 0;
    background-color: rgb(248, 251, 253);
}
.sponsors-title{
    text-align: center;
}
.sponsors-title h2{
    font-size: 35px;
    padding:15px;
}
.sponsors-title p{
    margin: 15px 0;
    padding: 10px 0;
}
.sponaors-company{
 display: grid;
 grid-template-columns:repeat(5, 1fr) ;
 gap: 10px;
 margin: 30px auto;
}
/*----------
footer section
--------------*/
.footer{
    text-align: center;
    background-color: antiquewhite;
    padding: 20px 30px;
}
